body{
    background-color: #555555;
    font-family: 'Poppins';
}

.main-background-color{
    /* background-color: #FF385C !important; */
    background-color: #3abeff !important;

}

.white-color{
    color:#ffffff;
}



.wrapper{
    /* background-color: #e4e4e4; */
    width:40%;
    box-shadow: 0 4px 8px 0 rgba(4, 112, 139, 0.2); 
    margin:2.5rem auto;
    border: 1px solid #e2f5ff;
}

.header-text{
    font-size: 16px !important;
    line-height: 18px !important;
}

.main-heading{
    
}

.heading-wrapper{
    /* background-color: #555555;
    color:#ffffff; */

}




.my-container{
   
}

.web-cam-wrapper{
    width:400px;
    height:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* border-radius: 2.5rem; */

}
.web-cam-box{
    border-radius: 2.5rem;
}

.my-text{
    margin-top: 140px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.45px;
}

.my-custom-button{
    
    /* border: 1px solid #555555 !important; */
    border-color: none !important;
    color: #ffffff !important;
}

.bottom-footer{
    /* position: fixed; */
    /* bottom: 0; */
}




.start-button{
    width:400px;
}

.copyright-text{
    font-size: 16px !important;
    line-height: 18px !important;
    color:#acacac !important;
}
